{% extends "layout.html" %}
{% block title %}Add Question{% endblock %}

{% block content %}
<div class="container">
    <h1>Add Question</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control form-control-lg") }}
            {% for error in form.title.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}
            {{ form.description(class="form-control form-control-lg") }}
            {% for error in form.description.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.difficulty.label(class="form-control-label") }}
            {{ form.difficulty(class="form-control") }}
            {% for error in form.difficulty.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.language.label(class="form-control-label") }}
            {{ form.language(class="form-control") }}
            {% for error in form.language.errors %}
                <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>

        <div class="form-group">
            <label class="form-control-label">Test Cases</label>
            {% for test_case in form.test_cases %}
            <div>
                {{ test_case.input_data.label(class="form-control-label") }}
                {{ test_case.input_data(class="form-control") }}
                {% for error in test_case.input_data.errors %}
                <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            <div>
                {{ test_case.expected_output.label(class="form-control-label") }}
                {{ test_case.expected_output(class="form-control") }}
                {% for error in test_case.expected_output.errors %}
                <small class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
